# managed by Ansible
{
    email {{ acme_email }}
    on_demand_tls {
        ask http://127.0.0.1:3000
    }
}

http://127.0.0.1:3000 {
    bind 127.0.0.1
    @allowed vars_regexp {query.domain} ^([a-z0-9-]+\.)+{{ public_domain | regex_escape }}$
    respond @allowed 200
    respond 404
}

{% for route in proxy_routes %}
{{ route.host}} {
{% if route.grpc_backend is defined %}
    @grpc header Content-Type application/grpc*
    reverse_proxy @grpc h2c://{{ route.grpc_backend }}

    @backend path /relay* /ws-proxy/* /api/* /oauth2/*
    reverse_proxy @backend {{ route.grpc_backend }}

    reverse_proxy /* {{ route.backend }}
{% else %}
    reverse_proxy {{ route.backend }}
{% endif %}
}
{% endfor %}

https:// {
    tls {
        on_demand
    }
    reverse_proxy {{ k3s_traefik }}
}