# [[ ansible_managed ]]
# [[ warewulf_managed ]]

[Unit]
After=iscsid.service
Requires=iscsid.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iscsiadm -m discovery -t sendtargets -p [[ warewulf_storage_host ]]:3260
ExecStart=/usr/sbin/iscsiadm -m node -T [[ iscsi_target_iqn_base ]]:{{$.Id}} -p [[ warewulf_storage_host ]]:3260 --login
ExecStartPost=/usr/bin/udevadm settle --timeout=10
ExecStop=/usr/sbin/iscsiadm -m node -T [[ iscsi_target_iqn_base]]:{{$.Id}} -p [[ warewulf_storage_host ]]:3260 --logout