[Unit]
Requires=k3s-iscsi.service
After=k3s-iscsi.service

[Mount]
What=/dev/disk/by-path/ip-[[ warewulf_storage_host ]]:3260-iscsi-[[ warewulf_target_iqn_base ]]:{{$.Id}}-lun-0
Where=/var/lib/rancher
Type=ext4
Options=_netdev,noatime