# {{ ansible_managed }}

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:{{ pihole_version }}
    restart: unless-stopped
    ports:
      - "{{ ansible_host }}:53:53/tcp"
      - "{{ ansible_host }}:53:53/udp"
      - "{{ ansible_host }}:80:80/tcp"
      - "{{ ansible_host }}:443:443/tcp"
    environment: # https://docs.pi-hole.net/ftldns/configfile
      TZ: '{{ timezone }}'
      FTLCONF_webserver_api_password: '{{ pihole_web_password }}'
      FTLCONF_dns_listeningMode: 'ALL'
      FTLCONF_dns_upstreams: "{{ dns_upstreams | join(';') }}"
      # switch out the public vps ip for rev proxy when requesting local domains
      FTLCONF_misc_dnsmasq_lines: "alias={{ hostvars[groups.public_relay | first].public_ip }},{{ hostvars[groups.rev_proxy_vm | first].ansible_host }}"
      # ensure external netbird peers still resolve netbird to the public relay
      FTLCONF_dns_hosts: "{{ hostvars[groups.public_relay | first].public_ip }} {{ netbird_domain }}"
      FTLCONF_ntp_ipv4_active: "false"
      FTLCONF_ntp_ipv6_active: "false"
      FTLCONF_ntp_sync_active: "false"
      FTLCONF_dns_rateLimit_count: "0"
      FTLCONF_dns_rateLimit_interval: "0"
    volumes:
      - './etc-pihole:/etc/pihole'
    logging:
      driver: json-file
      options:
        max-size: 500m
        max-file: "2"