auto lo
iface lo inet loopback


iface wan0 inet manual

auto vmbr0
iface vmbr0 inet static
	address {{ wan_ip }}/22
{% if gateway == "wan" %}
	gateway 192.168.4.1
{% endif %}
	bridge-ports wan0
	bridge-stp off
	bridge-fd 0


iface lan0 inet manual

auto vmbr1
iface vmbr1 inet static
	address {{ lan_ip }}/24
{% if gateway == "lan" %}
	gateway 10.127.0.254
{% endif %}
	bridge-ports lan0
	bridge-stp off
	bridge-fd 0


source /etc/network/interfaces.d/*