# managed by Ansible
[Interface]
PrivateKey = {{ wg_private_key }}
Address = {{ tunnel_ip }}/24
ListenPort = {{ tunnel_port}}

[Peer]
PublicKey = {{ peer.wg_public_key }}
AllowedIPs = {{ ([peer.tunnel_ip ~ '/32'] + (homelab_networks | map('attribute', 'cidr') | list)) | join(', ') }}