# managed by Ansible
[Interface]
PrivateKey = {{ wg_private_key }}
Address = {{ tunnel_ip }}/24
{% if inventory_hostname in groups.public_relay %}
ListenPort = 51820
{% endif %}

[Peer]
PublicKey = {{ peer.wg_public_key }}
AllowedIPs = {{ peer.tunnel_ip }}/32
{% if inventory_hostname in groups.gateway %}
Endpoint = {{ peer.public_ip }}:51820
PersistentKeepalive = 25
{% endif %}